p{
    vertical-align: baseline; 
    background-color: #ffffff;
    max-width: 451.4pt;
    padding: 0pt 72pt 0pt 72pt;  
    text-align: justify;
}
.head{
    font-size: 1rem;
    font-weight: 900;
}